@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
}

<h2 style="font-size:35px;font-weight:300;">step @ViewBag.StepNum</h2>

