@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
    <style type="text/css">
    #progress {
        width: @(ViewBag.StepNum * 25)%;
    }
    </style>
}

<h2 id="step-label">step @ViewBag.StepNum</h2>

<p id="explanation">
&nbsp;&nbsp;&nbsp; Enter in: Teacher name, subject
    <br>
    If you don't have a class that period, list "No Class"
</p>

<div id="schedule-container">
    <div id="period-selector">
        <div>
            <div class="period-num selected">1</div>
        </div>
        <div>
            <div class="period-num">2</div>
        </div>
        <div>
            <div class="period-num">3</div>
        </div>
        <div>
            <div class="period-num">4</div>
        </div>
        <div>
            <div class="period-num">5</div>
        </div>
        <div>
            <div class="period-num">6</div>
        </div>
        <div>
            <div class="period-num">7</div>
        </div>
    </div>
    <script type="text/javascript">
        var period = 1;

        $(".period-num").click(function () {
            period = parseInt($(this).text());
            $("#class-input").keydown();

            $(".period-num").removeClass("selected");
            $(this).addClass("selected");

            var suffix = "";
            switch (period) {
                case 1:
                    suffix = "st";
                    break;
                case 2:
                    suffix = "nd";
                    break;
                case 3:
                    suffix = "rd";
                    break;
                default:
                    suffix = "th";
                    break;
            }

            $("#period-label").text(period + suffix);
        });
    </script>

    <div id="selected-class-box">
        <div id="selected-class-label">Your Class:</div>
        <div id="selected-class">Alonzo, Biology</div>
    </div>

    <div id="class-search-box">
        <input id="class-input" type="text" placeholder="  Teacher Name, Subject" />
        <button id="add-class-btn">ADD CLASS</button>
        <script type="text/javascript">
            $("#class-input").keydown(function () {
                $.getJSON("/API/Classes/" + period + "/" + encodeURIComponent($("#class-input").val()), function (data) {
                    fillTableWithClasses(data);
                });
            });
        </script>
    </div>

    <div style="width:100%;border-top:2px solid #1ccfaf;">
        <h1 style="font-family:Lato;font-weight:300;">Recorded <span id="period-label">1st</span> Period Classes:</h1>
        <table id="classes-table">
        </table>
        
        <script type="text/javascript">
            function fillTableWithClasses(classes) {
                $("#classes-table").html("");

                for (var i = 0; i < classes.length; i++) {
                    var clss = classes[i];
                    $("#classes-table").append("<tr><td>" + clss.name + "</td></tr>");
                }
            }

            fillTableWithClasses([{ name: "Torp, Lit/Writ" }, {name: "Pakaluk, Band"}, {name: "Another, Thing" }]);
        </script>
    </div>
</div>

<br/>
<br/>