@{
    ViewBag.Title = "Schedule";
    Layout = "_Setup.cshtml";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/schedule.css")
    <style type="text/css">
    #progress {
        width: @(ViewBag.StepNum * 25)%;
    }
    </style>
}

<h2 style="font-size:35px;font-weight:300;">step @ViewBag.StepNum</h2>

<p style="font-size:25px;font-weight:300;">
&nbsp;&nbsp;&nbsp; Enter in: Teacher name, subject
    <br>
    If you don't have a class that period, list "No Class"
</p>

<div id="schedule-container" style="width:55%;margin-left:22.5%;border:1px solid #1ccfaf;height:600px;">
    <div id="period-selector">
        <div style="flex:1;">
            <div class="period-num selected">1</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">2</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">3</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">4</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">5</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">6</div>
        </div>
        <div style="flex:1;">
            <div class="period-num">7</div>
        </div>
    </div>
    <script type="text/javascript">
        $(".period-num").click(function () {
            $(".period-num").removeClass("selected");
            $(this).addClass("selected");
            var suffix = "";
            switch($(this).text()) {
                case "1":
                    suffix = "st";
                    break;
                case "2":
                    suffix = "nd";
                    break;
                case "3":
                    suffix = "rd";
                    break;
                default:
                    suffix = "th";
                    break;
            }
            $("#period-label").text($(this).text() + suffix);
        });
    </script>

    <div style="margin-top:20px;width:100%;border-top:1px solid #1ccfaf;height:100px;position:relative;">
        <div style="position:absolute;top:0;left:0;font-size:25px;border-right:1px solid #1ccfaf;border-bottom:1px solid #1ccfaf;padding:20px;font-weight:300;">Your Class:</div>
        <div style="position:absolute;bottom:0;right:0;font-size:40px;font-weight:300;padding:15px;padding-right:35px;">Alonzo, Biology</div>
    </div>

    <div style="margin-top:20px;width:100%;border-top:1px solid #1ccfaf;height:50px;position:relative;">
        <input id="class-input" type="text" placeholder="  Teacher Name, Subject" />
        <button id="add-class-btn">ADD CLASS</button>
    </div>

    <div style="width:100%;border-top:2px solid #1ccfaf;">
        <h1 style="font-family:Lato;font-weight:300;">Recorded <span id="period-label">1st</span> Period Classes:</h1>
        <table>
        </table>
    </div>
</div>

<br/>
<br/>