@{
    ViewBag.Title = "SignUp";
    Layout = "_Setup.cshtml";
}

@section head {
    @Styles.Render("~/Content/Styles/Site/Welcome/signup.css")
}

<h2 style="font-size:35px;font-weight:300;">step 1</h2>