@{
    ViewBag.Title = "Sign Up for Classfinder";
    Layout = "_Setup.cshtml";
}

@section head {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @Styles.Render("~/Content/Styles/Site/Welcome/signup.css")
}

<h2 id="step-label">step 1</h2>

<div id="signup-box">
    <div class="signup-row">
        <input type="text" placeholder="First Name" id="first-name" />
        <input type="text" placeholder="Last Name" id="last-name" />
    </div>
    
    <div id="grad-years" class="signup-row">
        <div class="selected">2018</div>
        <div>2017</div>
        <div>2016</div>
        <div>2015</div>
    </div>
    
    <script type="text/javascript">
        $("#grad-years").children("div").click(function() {
            $("#grad-years").children("div").removeClass("selected");
            $(this).addClass("selected");
        })
    </script>
    
    <div class="signup-row">
        <input type="email" placeholder="Email (Optional)" id="email" />
        <input type="text" placeholder="Username" id="username" />
    </div>
    
    <div class="signup-row">
        <input type="password" placeholder="Password" id="password" />
        <input type="password" placeholder="Confirm Password" id="confirmation-password" />
    </div>
</div>

<br/>
<button id="next-button">Next -></button>

<form action="/Account/Login" method="POST" style="display:none;" id="login-form">
    @Html.AntiForgeryToken()
    <input name="UserName" type="hidden" id="login-username" />
    <input name="Password" type="hidden" id="login-password" />
    <input name="RememberMe" type="checkbox" id="login-remember" checked />
</form>

<script type="text/javascript">
    $("#next-button").click(function () {
        var errorsExist = false;

        var fullName = $("#first-name").val().trim() + " " + $("#last-name").val();
        fullName = fullName.trim();
        if (fullName == "") {
            alert("Please enter your name!");
            errorsExist = true;
        }

        var gradYear = parseInt($("#grad-years").children(".selected").first().text());
        if (isNaN(gradYear)) {
            alert("Sorry, there was an error with your grade. Please refresh and/or try again.");
            errorsExist = true;
        }

        var email = $("#email").val();

        var username = $("#username").val().trim(); //remember to trim usernames
        if (username == "") {
            alert("Please enter a username!");
            errorsExist = true;
        }

        var password = $("#password").val();
        if (password != $("#confirmation-password").val()) {
            alert("Your password and confirmation password don't match.");
            errorsExist = true;
        }

        if(!errorsExist) {
            $.post("/API/Account/SignUp", {
                "Password": password,
                "GradYear": gradYear,
                "FullName": fullName,
                "Username": username,
                "Email": email
            }, function(response) {
                if (response == "GOOD") {
                    $("#login-username").val(username);
                    $("#login-password").val(password);

                    $("#login-form").submit();
                }
            });
        }
    });
</script>