body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #1ccfaf;
}
a:hover {
  color: #17ab91;
}
button {
  border: none;
  cursor: pointer;
}
.btn {
  border-radius: 3px;
  font-weight: 400;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: block;
  width: 125px;
  height: 60px;
  line-height: 60px;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  background-color: #1ccfaf;
  /* Thanks! http://stackoverflow.com/questions/7622822/make-background-fade-out-in */
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.white-on-green:hover {
  background-color: #17ab91;
  color: #fff;
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  border-radius: 3px;
  text-align: center;
  color: #1ccfaf;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
input[type=text]:hover,
input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus {
  border: 1px solid #17ab91 !important;
}
.selected-input {
  border: 1px solid #17ab91 !important;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
body {
  color: #1ccfaf;
  text-align: center;
}
#top-row {
  width: 100%;
  height: 100px;
  background-color: #1ccfaf;
  text-align: left;
}
#top-row #logo {
  position: absolute;
  height: 35px;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  /* but ewe. should use prefix-free */
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
}
#contents-container {
  width: 75%;
  margin-left: 12.5%;
}
#header-row {
  border-bottom: 1px solid #acacac;
  position: relative;
  height: 100px;
  margin-top: 50px;
}
#header-row h1,
#header-row h2,
#header-row a {
  margin: 0;
  font-weight: 400;
}
#header-row #settings-label {
  position: absolute;
  left: 5%;
  bottom: 25px;
  font-size: 35px;
}
#header-row #curr-page-options {
  position: absolute;
  right: 5%;
  bottom: 15px;
  text-align: right;
}
#curr-page-options #curr-page-label {
  color: #acacac;
  font-size: 25px;
  padding-bottom: 5px;
}
#curr-page-options #save-changes-link {
  font-size: 20px;
  text-decoration: none;
  color: #1ccfaf;
}
#lower-content {
  margin-top: 25px;
  position: relative;
}
#nav-list {
  width: 20%;
  border-left: 1px solid #1ccfaf;
  margin-left: 1%;
}
#nav-list a {
  display: block;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  color: #acacac;
  text-decoration: none;
  border-bottom: 1px solid #1ccfaf;
  border-right: 1px solid #1ccfaf;
  text-align: left;
  padding-left: 10px;
}
#nav-list a:first-child {
  border-top: 1px solid #1ccfaf;
}
.selected {
  background-color: #1ccfaf;
  color: #fff;
}
.nav-mobile {
  display: none !important;
}
#real-content {
  position: absolute;
  right: 1%;
  top: 0;
  width: 70%;
  padding-bottom: 75px;
}
@media all and (max-width: 1200px) {
  #nav-list {
    width: 23%;
    margin-left: 0;
  }
  #real-content {
    width: 73%;
    right: 0;
  }
}
@media all and (max-width: 1100px) {
  #nav-list {
    width: 100%;
  }
  #nav-list a {
    float: left;
    width: 20%;
    padding: 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #1ccfaf;
    border-right: none;
    margin: -1px;
    font-weight: 400;
  }
  #nav-list a:last-child {
    border-right: 1px solid #1ccfaf;
  }
  #real-content {
    top: 90px;
    width: 90%;
    left: 5%;
  }
}
@media all and (max-width: 1050px) {
  #nav-list a {
    font-size: 15px;
  }
}
@media all and (max-width: 900px) {
  #top-row {
    text-align: center;
  }
  #top-row #logo {
    height: 35px;
    left: 0;
  }
  #header-row {
    height: 75px;
  }
  #contents-container {
    width: 90%;
    margin-left: 5%;
  }
  #real-content {
    top: 90px;
    width: 100%;
    left: 0;
  }
}
@media all and (max-width: 750px) {
  .nav-desktop {
    display: none !important;
  }
  .nav-mobile {
    display: block !important;
  }
  #nav-list a {
    font-size: 20px;
  }
}
@media all and (max-width: 550px) {
  #contents-container {
    width: 95%;
    margin-left: 2.5%;
  }
  #nav-list a {
    font-size: 18px;
  }
}
@media all and (max-width: 500px) {
  #nav-list a {
    font-size: 15px;
  }
}
#schedule-picker-container {
  height: 600px;
  position: relative;
}
#period-selector {
  width: 15%;
  height: 100%;
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
#period-selector .period-num {
  cursor: pointer;
  width: 100%;
  /* but ewe. should use prefix-free */
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 85.71428571px;
  line-height: 85.71428571px;
  margin: 0;
  background-color: #1ccfaf;
  color: #fff;
}
#period-selector .selected {
  background-color: #1ccfaf;
  color: #fff;
}
#schedule-picker-content {
  position: absolute;
  left: 15%;
  width: 85%;
  top: 0;
}
#selected-class-box {
  border-top: 1px solid #1ccfaf;
  height: 100px;
  position: relative;
}
#selected-class-box div {
  position: absolute;
  padding: 20px;
}
#selected-class-label {
  font-size: 25px;
  border-right: 1px solid #1ccfaf;
  border-bottom: 1px solid #1ccfaf;
}
#selected-class {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40px;
  margin-right: 15px;
}
#class-search-box {
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #1ccfaf;
  height: 50px;
  position: relative;
}
#class-search-box input {
  position: absolute;
  width: 35%;
  text-align: left;
  padding: 0;
  padding-left: 5px;
  border-radius: 0;
}
#teacher-input {
  left: 0;
  border: 0;
}
#subject-input {
  border: 0;
  border-left: 1px solid #1ccfaf;
  left: 35%;
}
#add-class-btn {
  background-color: #1ccfaf;
  color: #fff;
  position: absolute;
  right: -1px;
  top: -1px;
  height: 52px;
  width: 30%;
}
#add-class-btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
#results-container {
  width: 100%;
  border-top: 1px solid #1ccfaf;
}
#results-label {
  font-size: 25px;
  font-weight: 300;
}
#results {
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
}
#results div {
  cursor: pointer;
  text-align: left;
  height: 50px;
  line-height: 50px;
  float: left;
  width: 30%;
  overflow-x: visible;
}
#results div:nth-child(3n - 1) {
  text-align: center;
}
#results div:nth-child(3n) {
  text-align: right;
}
#nav-list a:first-child {
  background-color: #1ccfaf;
  color: #fff;
}
#nav-list a:nth-child(2) {
  background-color: #1ccfaf;
  color: #fff;
}
#semester-picker {
  color: #1ccfaf;
  font-size: 30px;
  font-weight: 400;
}
.selected-semester {
  color: #1ccfaf;
}
#semester-picker span {
  color: #acacac;
  cursor: pointer;
}
#semester-picker #semester-one {
  color: #1ccfaf;
}
#copy-link {
  color: #1ccfaf;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
}
#copy-link span {
  color: #1ccfaf;
}
#schedule-picker-container {
  position: static;
  margin-top: 25px;
  width: 100%;
}
/*# sourceMappingURL=schedule.css.map */