body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}
.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
.white-on-dark {
  color: #fff;
}
.white-on-dark:hover {
  color: #3b3b3b;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  border-color: #1ccfaf;
  background-color: rgba(0, 0, 0, 0.3);
}
.white-on-green:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
body {
  color: #1ccfaf;
  text-align: center;
}
#top-row {
  width: 100%;
  height: 100px;
  background-color: #1ccfaf;
  text-align: left;
}
#top-row #logo {
  position: absolute;
  height: 35px;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  /* but ewe. should use prefix-free */
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
}
#contents-container {
  width: 75%;
  margin-left: 12.5%;
}
#header-row {
  border-bottom: 1px solid #8b8b8b;
  position: relative;
  height: 100px;
  margin-top: 50px;
}
#header-row h1,
#header-row h2,
#header-row a {
  margin: 0;
  font-weight: 400;
}
#header-row #settings-label {
  position: absolute;
  left: 5%;
  bottom: 25px;
  font-size: 35px;
}
#header-row #curr-page-options {
  position: absolute;
  right: 5%;
  bottom: 15px;
  text-align: right;
}
#curr-page-options #curr-page-label {
  color: #8b8b8b;
  font-size: 25px;
  padding-bottom: 5px;
}
#curr-page-options #save-changes-link {
  font-size: 20px;
  text-decoration: none;
  color: #1ccfaf;
}
#lower-content {
  margin-top: 25px;
  position: relative;
}
#nav-list {
  width: 20%;
  border-left: 1px solid #1ccfaf;
  margin-left: 1%;
}
#nav-list a {
  display: block;
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  width: 100%;
  color: #8b8b8b;
  text-decoration: none;
  border-bottom: 1px solid #1ccfaf;
  border-right: 1px solid #1ccfaf;
  text-align: left;
  padding-left: 10px;
}
#nav-list a:first-child {
  border-top: 1px solid #1ccfaf;
}
.selected {
  background-color: #1ccfaf;
  color: #fff;
}
.nav-mobile {
  display: none !important;
}
#real-content {
  position: absolute;
  right: 1%;
  top: 0;
  width: 70%;
  padding-bottom: 75px;
}
@media all and (max-width: 1200px) {
  #nav-list {
    width: 23%;
    margin-left: 0;
  }
  #real-content {
    width: 73%;
    right: 0;
  }
}
@media all and (max-width: 1100px) {
  #nav-list {
    width: 100%;
  }
  #nav-list a {
    float: left;
    width: 20%;
    padding: 0;
    text-align: center;
    font-size: 18px;
    border: 1px solid #1ccfaf;
    border-right: none;
    margin: -1px;
    font-weight: 400;
  }
  #nav-list a:last-child {
    border-right: 1px solid #1ccfaf;
  }
  #real-content {
    top: 90px;
    width: 90%;
    left: 5%;
  }
}
@media all and (max-width: 1050px) {
  #nav-list a {
    font-size: 15px;
  }
}
@media all and (max-width: 900px) {
  #top-row {
    text-align: center;
  }
  #top-row #logo {
    height: 35px;
    left: 0;
  }
  #header-row {
    height: 75px;
  }
  #contents-container {
    width: 90%;
    margin-left: 5%;
  }
  #real-content {
    top: 90px;
    width: 100%;
    left: 0;
  }
}
@media all and (max-width: 750px) {
  .nav-desktop {
    display: none !important;
  }
  .nav-mobile {
    display: block !important;
  }
  #nav-list a {
    font-size: 20px;
  }
}
@media all and (max-width: 550px) {
  #contents-container {
    width: 95%;
    margin-left: 2.5%;
  }
  #nav-list a {
    font-size: 18px;
  }
}
@media all and (max-width: 500px) {
  #nav-list a {
    font-size: 15px;
  }
}
/*# sourceMappingURL=shared.css.map */