@import "../shared.less";

body {
    color: @green;
    text-align:center;
}

#top-row {
    width:100%;
    height:100px;
    background-color:@green;
    text-align:left;
}
    #top-row #logo {
        position:absolute;
        height:35px;
        .half-vert();
        left:50px;
    }

#contents-container {
    width:75%;
    margin-left:12.5%;
}
    #header-row {
        border-bottom:1px solid @light;
        position:relative;
        height:100px;
        margin-top:50px;
    }
        #header-row h1,
        #header-row h2,
        #header-row a {
            margin:0;
            font-weight:400;
        }
        #header-row #settings-label {
            position:absolute;
            left:5%;
            bottom:25px;
            font-size:35px;
        }
        #header-row #curr-page-options {
            position:absolute;
            right:5%;
            bottom:15px;
            text-align:right;
        }
            #curr-page-options #curr-page-label {
                color:@light;
                font-size:25px;
                padding-bottom:5px;
            }
            #curr-page-options #save-changes-link {
                font-size:20px;
                text-decoration:none;
                color:@green;
            }

    #nav-list {
        width:250px;
        border:1px solid @green;
        border-bottom:none;
        margin-top:25px;
        margin-left:1%;
    }
        #nav-list a {
            display:block;
            font-size:20px;
            line-height:40px;
            height:40px;
            width:100%;
            color:@light;
            text-decoration:none;
            border-bottom:1px solid @green;
        }
        .selected {
            background-color:@green;
            color:#fff;
        }