@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @RenderSection("head", false)
}

<div id="top-row">
    <a href="~/" style="border:none;"><img id="logo" src="~/Content/Images/logo.png" style="border:none;" /></a>
</div>

<div id="contents-container">
    <div id="header-row">
        <h1 id="settings-label">Settings</h1>

        <div id="curr-page-options">
            <h2 id="curr-page-label">@ViewBag.CurrPage</h2>
            <a href="#" id="save-changes-link">Save Changes</a>
        </div>
    </div>
    
    <div id="lower-content">
        <div id="nav-list">
            <a href="~/Manage/Schedule" class="nav-desktop">Modify Schedule</a>
            <a href="~/Manage/Schedule" class="nav-mobile">Schedule</a>

            <a href="~/Manage/Password" class="nav-desktop">Change Pass</a>
            <a href="~/Manage/Password" class="nav-mobile">Password</a>

            <a href="~/Manage/Username" class="nav-desktop">Change Username</a>
            <a href="~/Manage/Username" class="nav-mobile">Username</a>

            <a href="~/Manage/Name" class="nav-desktop">Change Name</a>
            <a href="~/Manage/Name" class="nav-mobile">Name</a>

            <a href="~/Manage/FAQ">FAQ</a>
        </div>

        <div id="real-content">
            @RenderBody()
        </div>
    </div>
</div>