body {
    font-family: 'comfortaalight','Segoe WP SemiLight', 'Segoe UI',Arial;
    background-color:aliceblue;
    text-align:center;
}

a {
    text-decoration: none;
    color: #0094ff;
}

#TopNav {
    background-color:#FF6060;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    height:90px;
}

#TopCont {
    width:85%;
    height:90px;
    position:relative;
    margin-right:auto;
    margin-left:auto;
}

#Logo {
    padding-top:13px;
    float:left;
    height:60px;
    border:none;
}

ul.navList,
ul.navList li {
    display:inline;
}

ul.navList {
    color:#fff;
    height:30px;
    padding-top:30px;
    list-style-type: none;
    position:absolute;
    margin: 0 auto;
    right:0px;
}

    ul.navList li {
        border-color:#fff;
        border-left:1px solid;
        padding-right:30px;
        padding-left:30px;
        float:left;
    }
        ul.navList li a {
            display:block;
            color:#FFF;
            font-size:25px;
            height:30px;
        }

#MainBody {
    text-align:center;
    margin-top:100px;
    margin-right: auto;
    margin-left:auto;
    width:85%;
    position:relative;
}

.inputter {
    margin-bottom:10px;
    height:30px;
    width:210px;
    border-style:none;
}