@import "shared.less";

#schedule-picker-container {
    border: 1px solid @green;
    height: 600px;
}
    #period-selector {
        width:80%;
        margin:20px 10%;
        height:50px;
        font-size:25px;
    }
        #period-selector .period-num {
            cursor:pointer;
            line-height:50px;
            width:50px;
            .half-horiz;
        }
            #period-selector .selected {
                background-color:@green;
                border-radius:50px;
                color:#fff;
            }
        #period-selector div {
            float:left;
            width:14.28571428571428%;
        }

    #selected-class-box {
        border-top: 1px solid @green;
        height: 100px;
        position: relative;
    }
        #selected-class-box div {
            position: absolute;
            padding: 20px;
        }
        #selected-class-label {
            font-size: 25px;
            border-right: 1px solid @green;
            border-bottom: 1px solid @green;
        }
        #selected-class {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 40px;
            margin-right: 15px;
        }
    

    #class-search-box {
        margin-top: 20px;
        width: 100%;
        border-top: 1px solid @green;
        height: 50px;
        position: relative;
    }
        #class-search-box input {
            position:absolute;
            width:35%;
            text-align:left;
            padding:0;
            padding-left:5px;
        }
            #teacher-input {
                left:0;
                border:0;
            }
            #subject-input {
                border:0;
                border-left:1px solid @green;
                left:35%;
            }

        #add-class-btn {
            background-color:@green;
            color:#fff;
            position:absolute;
            right:-1px;
            top:-1px;
            height:52px;
            width:30%;
        }
            #add-class-btn:hover {
                background-color:#fff;
                color:@green;
            }
            
    #results-container {
        width:100%;
        border-top:1px solid @green;
    }
        #results-label {
            font-size:25px;
            font-weight:300;
        }
        #results {
            font-size:20px;
            text-align:left;
            margin-left:15px;
        }
            #results div {
                cursor:pointer;
                text-align:left;
                height:50px;
                line-height:50px;
                float:left;
                width:30%;
                //TODO: sometimes the things run over O:
                overflow-x:visible;
            }
                #results div:nth-child(3n - 1) {
                    text-align:center;
                }
                #results div:nth-child(3n) {
                    text-align:right;
                }