@import "shared.less";
@import "../schedule-picker.less";

body,html {
    font-weight:300;
}

#progress {
    width:50%;
}

#explanation {
    font-size: 25px;
    font-weight: 400;
}

#schedule-picker-container {
    width: 55%;
    margin-left: 22.5%;
}

#previous-button,
#next-button {
    display:inline;
    //todo: fix the prev/next buttons on the schedule welcome pages
}