body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}
.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
.white-on-dark {
  color: #fff;
}
.white-on-dark:hover {
  color: #3b3b3b;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  border-color: #1ccfaf;
  background-color: rgba(0, 0, 0, 0.3);
}
.white-on-green:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#top-row {
  width: 100%;
  height: 100px;
  background-color: #1ccfaf;
  text-align: left;
}
#step-label {
  font-size: 35px;
  font-weight: 300;
}
#top-row #logo {
  position: absolute;
  height: 35px;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  /* but ewe. should use prefix-free */
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
}
body {
  color: #1ccfaf;
  text-align: center;
}
#progress-bar {
  width: 65%;
  margin-left: 17.5%;
  border: 1px solid #000;
  border-radius: 4px;
  height: 10px;
}
#progress-bar #progress {
  height: 100%;
  background-color: #1ccfaf;
}
button {
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  height: 50px;
  width: 300px;
  border: 1px solid #1ccfaf;
  background-color: transparent;
  color: #1ccfaf;
  font-family: Lato;
}
button:hover {
  background-color: #1ccfaf;
  color: #fff;
}
@media screen and (max-width: 800px) {
  #progress-bar {
    width: 90%;
    margin-left: 5%;
  }
}
/*# sourceMappingURL=shared.css.map */