@import "../shared.less";

#top-row {
    width:100%;
    height:100px;
    background-color:@green;
    text-align:left;
}

#top-row #logo {
    position:absolute;
    height:35px;
    .half-vert();
    left:50px;
}

body {
    color: @green;
    text-align:center;
}

#progress-bar {
    width:65%;
    margin-left:17.5%;
    border:1px solid #000;
    border-radius:4px;
    height:10px;
}
    #progress-bar #progress {
        height:100%;
        background-color:@green;
    }

    input {
        font-family:Lato;
        height:50px;
        border:1px solid @green;
        text-align:center;
        color:@green;
        font-size:30px;
        font-weight:300;
    }

    button {
        cursor:pointer;

        font-size:30px;
        font-weight:300;

        height:50px;
        width:300px;

        border:1px solid @green;
        background-color:transparent;
        color:@green;
        font-family:Lato;
    }
        button:hover {
            background-color:@green;
            color:#fff;
        }

@media screen and (max-width:800px) {
    #progress-bar {
        width:90%;
        margin-left:5%;
    }
}