body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
}
.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
.white-on-dark {
  color: #fff;
}
.white-on-dark:hover {
  color: #3b3b3b;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#top-row {
  width: 100%;
  height: 100px;
  background-color: #1ccfaf;
  text-align: left;
}
#top-row #logo {
  position: absolute;
  height: 35px;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  /* but ewe. should use prefix-free */
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50px;
}
body {
  color: #1ccfaf;
  text-align: center;
}
#progress-bar {
  width: 60%;
  margin-left: 20%;
  border: 1px solid #000;
  border-radius: 4px;
  height: 10px;
}
#progress-bar #progress {
  height: 100%;
  background-color: #1ccfaf;
}
#progress {
  width: 33.3333%;
}
#signup-box {
  position: relative;
  width: 50%;
  margin-left: 25%;
}
#signup-box input {
  font-family: Lato;
  width: 49%;
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
  font-size: 30px;
  font-weight: 300;
}
#grad-years {
  width: 100%;
  border: none;
}
#grad-years div {
  cursor: pointer;
  font-size: 30px;
  font-weight: 300;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 24%;
  border: 1px solid #1ccfaf;
  position: absolute;
}
#grad-years div.selected {
  background-color: #1ccfaf;
  color: #fff;
}
#grad-years div:first-child {
  left: 0;
}
#grad-years div:nth-child(2) {
  left: 25.3%;
}
#grad-years div:nth-child(3) {
  right: 25.3%;
}
#grad-years div:last-child {
  right: 0;
}
.signup-row {
  margin-top: 10px;
  width: 100%;
  border: none;
  height: 50px;
}
.signup-row input:first-child {
  position: absolute;
  left: 0;
}
.signup-row input:last-child {
  position: absolute;
  right: 0;
}
@media all and (max-width: 972px) {
  #signup-box {
    width: 100%;
    margin: 0;
  }
  #signup-box input {
    width: 100%;
    display: block;
    margin-top: 10px;
  }
  #grad-years {
    height: 50px;
    width: 97%;
    margin-left: 1%;
  }
  #grad-years div {
    width: 23%;
  }
  #grad-years div:first-child {
    left: 1%;
  }
  #grad-years div:nth-child(2) {
    left: 25.8%;
  }
  #grad-years div:nth-child(3) {
    right: 25.8%;
  }
  #grad-years div:last-child {
    right: 1%;
  }
  .signup-row {
    margin-top: 10px;
    width: 97%;
    margin-left: 1%;
    border: none;
    height: auto;
  }
  .signup-row input:first-child {
    position: static;
  }
  .signup-row input:last-child {
    position: static;
  }
}
/*# sourceMappingURL=signup.css.map */