body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
}
.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
.white-on-dark {
  color: #fff;
}
.white-on-dark:hover {
  color: #3b3b3b;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  border-color: #1ccfaf;
  background-color: rgba(0, 0, 0, 0.3);
}
.white-on-green:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#left-bar {
  background-color: #20937e;
  width: 300px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
#img-row {
  width: 300px;
  height: 100px;
  background-color: #1ccfaf;
}
#img-row img {
  width: 250px;
  margin-top: 25px;
}
#periods-header {
  border-bottom: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  padding-left: 35px;
  font-size: 25px;
}
#bottom-options {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
#bottom-options a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.period-box {
  height: 100px;
  line-height: 100px;
  padding-left: 35px;
  font-size: 25px;
  cursor: pointer;
}
.period-box:hover {
  background-color: #287062;
}
.selected {
  background-color: #287062;
  border-right: 20px solid #1ccfaf;
}
#classmates td {
  border-bottom: 1px solid #a6a6a6;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
#classmates td:first-child {
  padding-left: 25px;
}
#classmates a {
  color: #1ccfaf;
  text-decoration: none;
}
#classmates td:last-child {
  text-align: right;
  padding-right: 25px;
  color: #a6a6a6;
}
#header-row {
  color: #7c7c7c;
  font-size: 25px;
}
#header-row td {
  border-bottom: 1px solid #1ccfaf;
  padding-top: 10px;
  padding-bottom: 5px;
}
#header-row td:first-child {
  padding-left: 25px;
}
#header-row td:last-child {
  text-align: right;
  padding-right: 25px;
}
#right-box {
  position: absolute;
  left: 350px;
}
/*# sourceMappingURL=schedule.css.map */