body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}
.btn {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.btn:hover {
  background-color: #fff;
  color: #1ccfaf;
}
.white-on-dark {
  color: #fff;
}
.white-on-dark:hover {
  color: #3b3b3b;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  border-color: #1ccfaf;
  background-color: rgba(0, 0, 0, 0.3);
}
.white-on-green:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#left-bar {
  background-color: #20937e;
  width: 25%;
  position: fixed;
  height: 100%;
  min-height: 620px;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  top: 0;
  margin: 0;
}
#img-row {
  width: 100%;
  height: 75px;
  background-color: #1ccfaf;
  text-align: center;
}
#desktop-logo {
  height: 35px;
  margin-top: 20px;
}
#mobile-logo {
  display: none;
}
#periods-header {
  border-bottom: 1px solid #fff;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding-left: 35px;
  font-size: 20px;
}
#mobile-period-list {
  display: none;
}
#options {
  position: absolute;
  top: 25px;
  color: #1ccfaf;
  right: 5%;
}
#options a {
  text-decoration: none;
  color: #1ccfaf;
  font-size: 20px;
}
.period-box {
  height: 75px;
  line-height: 75px;
  padding-left: 35px;
  font-size: 20px;
  cursor: pointer;
}
.period-box:hover {
  background-color: #287062;
}
.selected {
  background-color: #287062;
  border-right: 20px solid #1ccfaf;
}
#classmates td {
  border-bottom: 1px solid #a6a6a6;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}
#classmates td:first-child {
  padding-left: 25px;
}
#classmates a {
  color: #1ccfaf;
  text-decoration: none;
}
#classmates td:last-child {
  text-align: right;
  padding-right: 25px;
  color: #a6a6a6;
}
#header-row {
  color: #7c7c7c;
  font-size: 25px;
}
#header-row td {
  border-bottom: 1px solid #1ccfaf;
  padding-top: 10px;
  padding-bottom: 5px;
}
#header-row td:first-child {
  padding-left: 25px;
}
#header-row td:last-child {
  text-align: right;
  padding-right: 25px;
}
#right-box {
  margin-left: 25%;
  color: #1ccfaf;
  width: 75%;
}
#period-name {
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 5%;
}
#student-count {
  color: #acacac;
  font-size: 25px;
  margin-top: 0;
  margin-left: 5%;
}
#table-container {
  background-color: #ededed;
  border-radius: 15px;
  min-height: 500px;
  width: 90%;
  margin-left: 5%;
}
@media all and (max-width: 1010px) {
  body,
  html {
    overflow-x: hidden;
  }
  #table-container {
    width: 100%;
    margin-left: 0;
  }
  .period-box {
    padding-left: 10px;
  }
  #desktop-logo {
    width: 100%;
    height: auto;
    margin-top: 0;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    /* but ewe. should use prefix-free */
    position: relative;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    top: 50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
@media all and (max-width: 890px) {
  .period-box {
    font-size: 20px;
  }
}
@media all and (max-width: 750px) {
  #left-bar {
    width: 100%;
    height: 75px !important;
    overflow-y: hidden;
    min-height: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }
  #img-row {
    width: 10%;
    height: 75px;
    background-color: #1ccfaf;
  }
  #mobile-logo {
    width: 100%;
    height: auto;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    /* but ewe. should use prefix-free */
    position: relative;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    top: 50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
  }
  #desktop-logo,
  #periods-header,
  #bottom-options,
  .period-box {
    display: none;
  }
  #mobile-period-list {
    display: block;
    position: absolute;
    top: 0;
    width: 90%;
    left: 10%;
  }
  #mobile-period-list .period-box-mobile {
    cursor: pointer;
    float: left;
    font-size: 25px;
    font-weight: 300;
    font-family: Lato;
    height: 75px;
    line-height: 75px;
    text-align: center;
    width: 100%;
    display: block;
  }
  #mobile-period-list .selected-mobile {
    background-color: #1ccfaf;
  }
  #mobile-period-list div {
    width: 14.28571428571428%;
    float: left;
  }
  #right-box {
    width: 100% !important;
    margin-top: 75px;
    margin-left: 0;
  }
  #period-name,
  #student-count {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  #period-name {
    padding-top: 25px;
  }
  #student-count {
    padding-bottom: 25px;
  }
  #table-container {
    border-radius: 0;
  }
}
@media all and (max-width: 350px) {
  #period-name {
    font-size: 25px;
  }
}
/*# sourceMappingURL=schedule.css.map */