body {
    font-size:30px;
}

input.editable {
    cursor:pointer;
    background:none;
    border:dotted;
    font-size:30px;
}
    input.editable:focus {
        border:dashed;
        cursor:text;
    }

.WedgeDiv {
    display:none;
    color:#fff;
}