@using Microsoft.AspNet.Identity
<div id="schedule-picker-container">
    <div id="schedule-picker-header">
        <h1 id="selected-class-label">Your Class:</h1>
        <h1 id="selected-class"></h1>
    </div>
    
    <div id="period-selector">
        <div class="period-num selected">1</div>
        <div class="period-num">2</div>
        <div class="period-num">3</div>
        <div class="period-num">4</div>
        <div class="period-num">5</div>
        <div class="period-num">6</div>
        <div class="period-num">7</div>
    </div>

    <script type="text/javascript">
        var schedPickerPeriod = 1;
        var currClassId = -1;

        $(".period-num").click(function () {
            $("#selected-class").text("");
            schedPickerPeriod = parseInt($(this).text());
            $("#class-input").keydown();

            $(".period-num").removeClass("selected");
            $(this).addClass("selected");

            $("#period-label").text(suffix(schedPickerPeriod));
            var teacher = $("#teacher-input").val(""); //todo: make sure this works
            var subject = $("#subject-input").val("");

            $.getJSON("/API/Schedule/" + userId + "/" + semester + "/" + schedPickerPeriod, function(data) {
                $("#selected-class").text(data.name);
                currClassId = data.id;
                $("#results").children("div[data-class-id='" + data.id + "']").addClass("selected-result");
            });
        });

        $.getJSON("/API/Schedule/" + userId + "/" + semester + "/" + schedPickerPeriod, function (data) {
            $("#selected-class").text(data.name);
            currClassId = data.id;
            $("#results").children("div[data-class-id='" + data.id + "']").addClass("selected-result");
        });
    </script>
    
    <div id="schedule-picker-content">
        <h1 id="add-class-label">Add a Class</h1>
        <a href="#no-class" id="no-class-btn" class="white-on-green btn">No Class</a>

        <div id="class-search-box">
            <input id="teacher-input" type="text" placeholder="  Teacher" />
            <input id="subject-input" type="text" placeholder="  Subject" />

            <button id="add-class-btn" class="white-on-green btn">Add Class</button>
            <script type="text/javascript">
                function getClassName() {
                    var teacher = $("#teacher-input").val().trim();
                    var subject = $("#subject-input").val().trim();

                    var className = teacher;
                    if (subject != "") className += ", " + subject;

                    return className;
                }

                $("#teacher-input, #subject-input").on("keyup", function () {
                    $.getJSON("/API/Classes/" + school + "/" + schedPickerPeriod + "/" + encodeURIComponent(getClassName()), function (data) {
                        fillTableWithClasses(data);
                    });
                });

                function addClass(className) {
                    if (className == "") {
                        alert("Please enter a class");
                    }
                    else {
                        $.post("/API/Schedule/" + userId + "/" + semester + "/" + schedPickerPeriod, {
                            name: className
                        }, function (data) {
                            if (data.good == true) {
                                currClassId = data.id;
                                $("#selected-class").text(className);
                                $("#class-input").val("");
                            }
                        });
                    }

                    var teacher = $("#teacher-input").val(""); //todo: make sure this works
                    var subject = $("#subject-input").val("");
                }

                $("#add-class-btn").click(function () {
                    addClass(getClassName());
                });

                $("#no-class-btn").click(function() {
                    addClass("No Class");
                    $("#results").children("div").removeClass("selected-result");
                });
            </script>
        </div>

        <div id="results-container">
            <h1 id="results-label">Recorded <span id="period-label">1st</span> Period Classes:</h1>
            <div id="results"></div>

            <script type="text/javascript">
                function fillTableWithClasses(classes) {
                    $("#results").html("");

                    for (var i = 0; i < classes.length; i++) {
                        var clss = classes[i];
                        if (clss.id == currClassId) {
                            $("#results").append('<div data-class-id="' + clss.id + '" class="selected-result">' + clss.name + "</div>");
                        } else {
                            $("#results").append('<div data-class-id="' + clss.id + '">' + clss.name + "</div>");
                        }
                    }

                    $("#results").children("div").click(function () {
                        addClass($(this).text());
                        $("#results").children("div").removeClass("selected-result");
                        $(this).addClass("selected-result");
                    });
                }

                $("#teacher-input").trigger("keyup");
            </script>
        </div>
    </div>
</div>