@{
    ViewBag.Title = "Classfinder";
}

@section head {
    <link href="~/Content/Styles/Site/Default/index.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Wedge/wedge.min.js"></script>
}
<div class="row" id="head-row">
    <img src="~/Content/Images/Homepage/logo.green.png" />
    <a href="#login" id="desktop-login-btn" class="btn">log in</a>
</div>

<div class="row" id="main-row">
    <h1 id="hero-label">The simple who's-in-your-class app for students across all grades</h1>

    <a href="~/Welcome/Signup" class="btn white-circle-btn" id="hero-signup-btn">SIGN UP</a>

    @*<a href="#login" id="mobile-login-btn" class="btn white-circle-btn">Log in</a>*@
</div>

<div class="row" id="last-row">
    <div style="position:relative;">
        <div class="info-box">
            <h1>Simplified</h1>
            <h2>Sticking to what we do best</h2>

            <img src="~/Content/Images/Bubbles/simplified.png" />

            <p>
                We have taken a step back from the clutter of previous versions of Classfinder and focused on simplicity; setting up an account is now an easy four-step process.
            </p>
        </div>

        <div class="info-box">
            <h1>Aesthetic</h1>
            <h2>Design and Organization</h2>

            <img src="~/Content/Images/Bubbles/aesthetic.png" />

            <p>
                Taking inspiration from modern web design trends, we redesigned Classfinder to maintain both an engaging and responsive layout.
            </p>
        </div>

        <div class="info-box">
            <h1>Efficient</h1>
            <h2>User Experience + Satisfaction</h2>

            <img src="~/Content/Images/Bubbles/efficient.png" />
            
            <p>
                Classfinder is now simpler to set up and use, making the entire process of discovering who will be in your classes all the more convenient.
            </p>
        </div>
    </div>

    <div id="footer">
        Created by yours truly, Adhiv, Matthew, and Will.
        <div class="hashtag">#4yearsandrunning</div>

        <a href="~/Welcome/Signup" class="btn white-circle-btn" id="footer-signup-btn">SIGN UP</a>
    </div>
</div>

<div id="login-popup" style="display:none;">
    <h1>log in</h1>
    <!-- TODO: validate over API -->
    <span>@(ViewBag.LoginError ?? "")</span>
    <form action="/Account/Login?ReturnUrl=@(ViewBag.ReturnUrl ?? "")" method="POST" id="login-form">
        @Html.AntiForgeryToken()
        <input name="UserName" type="text" id="login-username" placeholder="username" />
        <br />
        <input name="Password" type="password" id="login-password" placeholder="password" />
        <br />
        <label for="login-remember">Remember me</label> <input name="RememberMe" type="checkbox" id="login-remember" value="true" checked /> <!-- Thanks! http://stackoverflow.com/questions/6441654/html-input-checkbox-return-on-instead-of-true-when-submitting-form -->
        <br />
        <input type="submit" id="login-btn" value="let's go -->" class="btn green-on-white" />
    </form>
    <br />
    <span>don't have an account? sign up <a href="~/Welcome/SignUp">here</a></span>
    <br />
    <span>forgot your password? click <a href="#resetpass" id="reset-pass-link">here</a></span>
</div>

<script type="text/javascript">
    $("#desktop-login-btn").click(function () {
        initWedge('login-popup', 'div');
    });

    $("#mobile-login-btn").click(function() {
        initWedge('login-popup', 'div');
    });

    $("#reset-pass-link").click(function() {

    });

    if (window.location.hash.indexOf("login") != -1 || @(ViewBag.ShowLogin.ToString().ToLower())) {
        $("#desktop-login-btn").click();
    }
</script>