@{
    ViewBag.Title = "Classfinder";
}

@section head {
    <link href="~/Content/Styles/Site/Default/index.min.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Wedge/wedge.min.js"></script>
}
<div class="row" id="head-row">
    <img src="~/Content/Images/Homepage/logo.green.png" alt="classfinder" />
    <a href="#" id="desktop-login-btn" class="button default">log in</a>
</div>

<div class="row" id="main-row">
    <img src="~/Content/Images/Homepage/laptop.jpg" alt="LAPTOP" id="mobile-background" />

    <h1 id="hero-label">The simple who's-in-your-class app for students across all grades</h1>

    <a href="~/Welcome/Signup" class="button white-circle-btn" id="hero-signup-btn">SIGN UP</a>
</div>

<div class="row" id="last-row">
    <div id="mobile-actions">
        <h1 id="mobile-hero-label">The simple who's-in-your-class app for students across all grades</h1>

        <a href="~/Welcome/Signup" class="button white-circle-btn" id="mobile-signup-btn">SIGN UP</a>
        <a href="#" class="button white-circle-btn" id="mobile-login-btn">LOG IN</a>
    </div>

    <div style="position:relative;">
        <div class="info-box">
            <h1>Simplified</h1>
            <h2>Sticking to what we do best</h2>

            <img src="~/Content/Images/Bubbles/simplified.png" alt="Simplified" />

            <p>
                We have taken a step back from the clutter of previous versions of Classfinder and focused on simplicity; setting up an account is now an easy four-step process.
            </p>
        </div>

        <div class="info-box">
            <h1>Aesthetic</h1>
            <h2>Design and Organization</h2>

            <img src="~/Content/Images/Bubbles/aesthetic.png" alt="Aesthetic" />

            <p>
                Taking inspiration from modern web design trends, we redesigned Classfinder to maintain both an engaging and responsive layout.
            </p>
        </div>

        <div class="info-box">
            <h1>Efficient</h1>
            <h2>User Experience + Satisfaction</h2>

            <img src="~/Content/Images/Bubbles/efficient.png" alt="Efficient" />
            
            <p>
                Classfinder is now simpler to set up and use, making the entire process of discovering who will be in your classes all the more convenient.
            </p>
        </div>
    </div>

    <div id="footer">
        Created by yours truly, Adhiv, Matthew, and Will.
        <div class="hashtag">#4yearsandrunning</div>

        <a href="~/Welcome/Signup" class="button white-circle-btn inverted-circle-btn" id="footer-signup-btn">SIGN UP</a>
    </div>
</div>

<div id="login-popup" style="display:none;" class="popup">
    <h1>log in</h1>
    <!-- TODO: validate over API -->
    <span>@(ViewBag.LoginError ?? "")</span>
    <form action="/Account/Login?ReturnUrl=@(ViewBag.ReturnUrl ?? "")" method="POST" id="login-form">
        @Html.AntiForgeryToken()
        <input name="UserName" type="text" id="login-username" placeholder="username" class="pretty-input" />
        <br />
        <input name="Password" type="password" id="login-password" placeholder="password" class="pretty-input" />
        <br />
        <label for="login-remember">Remember me</label> <input name="RememberMe" type="checkbox" id="login-remember" value="true" checked /> <!-- Thanks! http://stackoverflow.com/questions/6441654/html-input-checkbox-return-on-instead-of-true-when-submitting-form -->
        <br />
        <input type="submit" id="login-btn" value="let's go -->" class="default button" />
    </form>
    <br />
    <span>don't have an account? sign up <a href="~/Welcome/SignUp">here</a></span>
    <br />
    <span>forgot your password? click <a href="#resetpass" id="reset-pass-link">here</a></span>
</div>

<div id="forgot-pass-popup" style="display:none;" class="popup">
    <h1>forgot password</h1>

    <input id="forgot-pass-username" class="pretty-input" placeholder="username" />
    <br />

    <button id="forgot-pass-btn" class="default button">Reset Password</button>
</div>

<script type="text/javascript">
    $("#desktop-login-btn").click(function () {
        wedge.show('login-popup', 'div');
    });

    $("#mobile-login-btn").click(function() {
        wedge.show('login-popup', 'div');
    });

    $("#reset-pass-link").click(function() {
        wedge.close(function() {
            wedge.show('forgot-pass-popup', 'div');
        });
    });

    $("#forgot-pass-btn").click(function() {
        var username = $("#forgot-pass-username").val();

        $.post("/API/Account/ResetPassword", {
            "Username": username
        }, function(data) {
            if (data == "NO USER") {
                alert("Sorry, but we couldn't find any user with that username. Please contact matthewsot@outlook.com for help.");
            } else if (data == "NO EMAIL") {
                alert("Sorry, but that user doesn't have an email associated with their account. Please contact matthewsot@outlook.com for help.");
            } else if (data == "GOOD") {
                alert("Thanks, we've sent an email to that user with more instructions. Please make sure to check your junk mail, or email matthewsot@outlook.com for help");
            } else {
                alert("Sorry, something went wrong. Contact matthewsot@outlook.com for help");
            }
            $("#forgot-pass-username").val("");
            wedge.close();
        });
    });

    if (window.location.hash.indexOf("login") != -1 || @(ViewBag.ShowLogin.ToString().ToLower())) {
        $("#desktop-login-btn").click();
    }

    $("input[type=text],input[type=password],input[type=email]").on("keyup", function() {
        if (!$(this).hasClass("selected-input") && $(this).val() != "") {
            $(this).addClass("selected-input");
        }
        else if ($(this).hasClass("selected-input") && $(this).val() == "") {
            $(this).removeClass("selected-input");
        }
    });
</script>