@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Contact Us</h2>

You can contact the Classfinder team by emailing support@classfinder.me. If you find a bug in Classfinder, you can also submit an issue at <a href="https://classfinder.codeplex.com/workitem/list/basic">our Codeplex page.</a>