@{
    ViewBag.Title = "Classfinder";
}

@section head {
    <link href="~/Content/Styles/Site/Default/index.css" rel="stylesheet" type="text/css" />
}
<div class="row dark-row" id="main-row">
    <img src="~/Content/Images/logo.png" />
    
    <div id="hero-action-bar">
        <h1 id="action-label">The simple who's-in-your-class app for students across all grades</h1>

        <a href="~/Welcome/Signup" id="signup-btn">Sign up</a>

        <a href="~/LogIn" id="mobile-login-btn">Log in</a>
    </div>
</div>

<div class="row" id="last-row">
    <div style="position:relative;">
        <div class="info-box">
            <div>
                <img src="~/Content/Images/simplified.png" />
            </div>
            <h2>Simplified</h2>
            <p>
                Eh, I'm not very up for creating well-thought out descriptions and paragraphs. Will should probably do these (pretty please? &lt;3). if not, i'll just do em some other time.
            </p>
        </div>

        <div class="info-box">
            <div>
                <img src="~/Content/Images/aesthetic.png" />
            </div>
            <h2>Aesthetic</h2>
            <p>
                Eh, I'm not very up for creating well-thought out descriptions and paragraphs. Will should probably do these (pretty please? &lt;3). if not, i'll just do em some other time.
            </p>
        </div>

        <div class="info-box">
            <div>
                <img src="~/Content/Images/efficient.png" />
            </div>
            <h2>Efficient</h2>
            <p>
                Eh, I'm not very up for creating well-thought out descriptions and paragraphs. Will should probably do these (pretty please? &lt;3). if not, i'll just do em some other time.
            </p>
        </div>
    </div>

    <div id="footer">
        Created by yours truly, Adhiv, Matthew, and Will.
        <div class="hashtag">#4yearsandrunning</div>

        <a href="~/Welcome/Signup" class="btn green-on-white" style="width: 200px; margin-top: 30px; margin-left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%);">sign up for cf</a>
    </div>
</div>