@{
    ViewBag.Title = "Classfinder";
}

@section head {
    <link href="~/Content/Styles/Site/Default/index.css" rel="stylesheet" type="text/css" />
}

<div class="row green-row" id="first-row">
    <a href="~/Account/Login" class="btn login-btn">login</a>
    <img src="~/Content/Images/logo.shadow.png" class="top-logo" id="big-logo" />
    <img src="~/Content/Images/logo.shadow.small.png" class="top-logo" id="small-logo" />
</div>

<div class="row dark-row" id="main-row">
    <form action="/Account/Login" method="POST" id="login-form">
        @Html.AntiForgeryToken()
        <input name="UserName" type="text" id="login-username" placeholder="username" />
        <br/>
        <input name="Password" type="password" id="login-password" placeholder="password" />
        <br/>
        <input name="RememberMe" type="checkbox" id="login-remember" checked />
        <br/>
        <input type="submit"/>
    </form>
</div>