@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Thank You!</title>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
        <link href="~/Content/Styles/Site/Default/thankyou.css" rel="stylesheet" />
    </head>
    <body>
        <h1 class="title">Thank you</h1>

        <h3>to the Homestead Class of 2017 Officers</h3>

        <h2>Edward Li</h2>
        <h2>Erin Liu</h2>
        <h2>James Zhuang</h2>
        <h2>Nicole Delano</h2>
        <h2>Ting Chang</h2>

        <h3>for your unparalleled support for Classfinder :)</h3>

        <h3>This year, thanks to your help, we were able to reach...</h3>
        
        <div class="bubbles">
            <div class="bubble">
                <h1>578</h1>
                <h3>members</h3>
            </div>

            <div class="bubble">
                <h1>6,639</h1>
                <h3>schedule periods entered</h3>
            </div>

            <div class="bubble">
                <h1>223</h1>
                <h3>HHS Users</h3>
            </div>
        </div>

        <h3>Grats on a good year, and cheers to even greater ones,</h3>

        <h3>Matthew, Adhiv, and Will</h3>

        <img src="~/Content/Images/logo.png" alt="classfinder" />
</body>
</html>