body,
html {
  width: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Lato';
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #1ccfaf;
}
a:hover {
  color: #17ab91;
}
.btn {
  border-radius: 3px;
  font-weight: 400;
  font-size: 25px;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0;
  display: block;
  width: 125px;
  height: 60px;
  line-height: 60px;
}
.green-on-white {
  color: #1ccfaf;
  border-color: #1ccfaf;
  background-color: #fff;
}
.green-on-white:hover {
  background-color: #1ccfaf;
  color: #fff;
}
.white-on-green {
  color: #fff;
  background-color: #1ccfaf;
  /* Thanks! http://stackoverflow.com/questions/7622822/make-background-fade-out-in */
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.white-on-green:hover {
  background-color: #17ab91;
  color: #fff;
}
input {
  font-family: Lato;
  font-weight: 300;
  font-size: 30px;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email] {
  height: 50px;
  border: 1px solid #1ccfaf;
  text-align: center;
  color: #1ccfaf;
}
.half-vert {
  position: relative;
  /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
  top: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.half-horiz {
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.row {
  width: 100%;
  text-align: center;
  padding: 50px 0 50px 0;
}
#head-row {
  background-color: #fff;
  text-align: left;
  height: 75px;
  padding: 0;
}
#head-row img {
  height: 40px;
  margin-top: 17.5px;
  margin-left: 50px;
}
#desktop-login-btn {
  line-height: 60px;
  position: absolute;
  right: 50px;
  top: 12.5px;
  height: 50px;
  line-height: 50px;
}
.white-circle-btn {
  background-color: #fff;
  color: #1ccfaf;
  border-radius: 30px;
  width: 200px;
  height: 70px;
  line-height: 70px;
  border: none;
}
.white-circle-btn:hover {
  background-color: #1ccfaf;
  color: #fff;
}
#main-row {
  background-image: url(/Content/Images/Homepage/laptop.jpg);
  background-size: cover;
  position: relative;
  height: 600px;
}
#mobile-background {
  display: none;
}
#hero-label {
  background-color: #1ccfaf;
  color: #fff;
  width: 70%;
  margin-left: 15%;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  bottom: 250px;
}
#hero-signup-btn {
  /* but ewe. should use prefix-free */
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  bottom: 150px;
}
#last-row {
  color: #616161;
  padding: 50px 0 50px 0;
  font-weight: 400;
  background-color: #f4f4f4;
}
#last-row #mobile-actions {
  display: none;
}
#last-row .info-box {
  width: 300px;
  position: absolute;
  left: 50%;
}
#last-row .info-box:nth-child(1) {
  margin-left: -525px;
}
#last-row .info-box:nth-child(2) {
  margin-left: -150px;
}
#last-row .info-box:nth-child(3) {
  margin-left: 225px;
}
#last-row .info-box h1 {
  color: #1ccfaf;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}
#last-row .info-box h2 {
  color: #616161;
  font-size: 18px;
}
#last-row .info-box img {
  width: 100%;
}
#last-row .info-box p {
  color: #8b8b8b;
  font-size: 18px;
}
#footer {
  font-weight: 400;
  margin-top: 700px;
  font-size: 20px;
  color: #8b8b8b;
}
#footer .hashtag {
  margin-top: 20px;
  color: #1ccfaf;
}
#footer #footer-signup-btn {
  margin-top: 30px;
  /* but ewe. should use prefix-free */
  position: relative;
  left: 50%;
  /* but ewe. should use prefix-free */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
#login-popup {
  width: 500px;
  height: 400px;
  background-color: #fff;
  color: #8b8b8b;
  border-radius: 5px;
}
#login-popup h1 {
  font-weight: 300;
  width: 80%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 35px;
  border-bottom: 2px solid #1ccfaf;
}
#login-username,
#login-password {
  height: 40px;
  margin: 10px;
}
#login-password {
  margin-bottom: 15px;
}
#login-btn {
  height: 50px;
  line-height: 50px;
  width: 200px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-left: 150px;
  font-weight: 300;
  border: 1px solid #1ccfaf;
}
#login-popup a {
  text-decoration: none;
  color: #1ccfaf;
}
@media all and (max-width: 1200px) {
  #last-row .info-box {
    width: 275px;
  }
  #last-row .info-box:nth-child(1) {
    margin-left: -462.5px;
  }
  #last-row .info-box:nth-child(2) {
    margin-left: -137.5px;
  }
  #last-row .info-box:nth-child(3) {
    margin-left: 187.5px;
  }
  #last-row .info-box h1 {
    font-size: 35px;
  }
  #last-row .info-box h2 {
    font-size: 15px;
  }
  #last-row .info-box p {
    color: #8b8b8b;
    font-size: 15px;
  }
}
@media all and (max-width: 1100px) {
  #hero-label {
    font-size: 23px;
  }
}
@media all and (max-width: 970px) {
  #hero-label {
    font-size: 20px;
  }
  #last-row .info-box {
    width: 255px;
  }
  #last-row .info-box:nth-child(1) {
    margin-left: -412.5px;
  }
  #last-row .info-box:nth-child(2) {
    margin-left: -127.5px;
  }
  #last-row .info-box:nth-child(3) {
    margin-left: 157.5px;
  }
  #last-row .info-box h1 {
    font-size: 30px;
  }
  #last-row .info-box h2 {
    font-size: 13px;
  }
  #last-row .info-box p {
    color: #8b8b8b;
    font-size: 13px;
  }
}
@media all and (max-width: 850px) {
  body,
  html {
    overflow-x: hidden;
  }
  #hero-label {
    width: 80%;
    margin-left: 10%;
  }
  #last-row .info-box:nth-child(n) {
    margin: 0;
    /* but ewe. should use prefix-free */
    position: relative;
    left: 50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 50px;
  }
  #last-row #footer {
    margin-top: 50px;
  }
}
@media all and (max-width: 750px) {
  #head-row {
    text-align: center;
  }
  #head-row img {
    margin: 0;
    height: auto;
    width: 80%;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    /* but ewe. should use prefix-free */
    position: relative;
    /* Thanks! http://creative-punch.net/2014/01/center-vertically-horizontally-using-css3-transform/ */
    top: 50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #main-row {
    height: auto;
    padding: 0;
    background-color: #1ccfaf;
    background-image: none;
  }
  #main-row #mobile-background {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
  }
  #hero-label {
    display: none;
    position: static;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
  }
  #hero-signup-btn {
    display: none;
  }
  #desktop-login-btn {
    display: none;
  }
  #last-row {
    margin-top: 0;
    padding-top: 0;
  }
  #last-row #mobile-actions {
    display: block;
  }
  #mobile-actions #mobile-hero-label {
    background-color: #1ccfaf;
    color: #fff;
    width: 100%;
    margin: 0;
    font-size: 20px;
    line-height: 75px;
  }
  #mobile-actions .white-circle-btn {
    /* but ewe. should use prefix-free */
    position: relative;
    left: 50%;
    /* but ewe. should use prefix-free */
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 25px;
  }
  #wedge-content {
    left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
  #login-popup {
    width: 100%;
  }
  #login-username,
  #login-password {
    width: 70%;
    left: 15%;
  }
  #login-password {
    margin-bottom: 15px;
  }
  #login-btn {
    height: 50px;
    width: 55%;
    margin-left: 22.5%;
  }
}
@media all and (max-width: 400px) {
  #main-row img {
    width: 90%;
    margin-left: 5%;
  }
}
/*# sourceMappingURL=index.css.map */