@import "../shared.less";

.row {
    width:100%;
    text-align:center;
    padding:50px 0 50px 0;
}

#head-row {
    background-color:#fff;
    text-align:left;
    height:100px;
    padding:0;
}
    #head-row img {
        height:40px;
        margin-top:30px;
        margin-left:50px;
    }
    #desktop-login-btn {
        line-height:60px;

        position:absolute;
        right:50px;
        top:20px;
    }

.white-circle-btn {
    background-color:#fff;
    color:@green;
    border-radius:30px;
    width:200px;
    height:70px;
    line-height:70px;
    border:none;
}
    .white-circle-btn:hover {
        background-color:@green;
        color:#fff;
    }

#main-row {
    background-image:url(/Content/Images/Homepage/laptop.jpg);
    background-size:cover;

    position:relative;
    height:600px;
}
    #mobile-background {
        display:none;
    }
    #hero-label {
        background-color:@green;
        color:#fff;
        width:70%;
        margin-left:15%;
        font-size:25px;
        line-height:60px;
        position:absolute;
        bottom:125px;
    }
    #hero-signup-btn {
        .half-horiz;
        position:absolute;
        bottom: 35px;
    }

#last-row {
    color:@dark;
    padding:50px 0 50px 0;
    font-weight:400;
    background-color:@off-white;
}
    #last-row #mobile-actions {
        display:none;
    }

    @info-box-width: 300px;
    @info-box-padding: 75px;
    #last-row .info-box {
        width:@info-box-width;
        position:absolute;
        left:50%;
    }
        #last-row .info-box:nth-child(1) {
            margin-left:-((@info-box-width * 1.5) + @info-box-padding);
        }
        #last-row .info-box:nth-child(2) {
            margin-left:-(@info-box-width / 2);
        }
        #last-row .info-box:nth-child(3) {
             margin-left:(@info-box-width / 2) + @info-box-padding;
        }

        #last-row .info-box h1 {
            color:@green;
            font-size:40px;
            font-weight:300;
            margin:0;
        }
        #last-row .info-box h2 {
            color:@dark;
            font-size:18px;
        }

        #last-row .info-box img {
            width:100%;
        }

        #last-row .info-box p {
            color:@light;
            font-size:18px;
        }

#footer {
    font-weight:400;
    margin-top:700px;
    font-size:20px;
    color:@light;
}
    #footer .hashtag {
        margin-top:20px;
        color:@green;
    }
    #footer #footer-signup-btn {
        margin-top: 30px;
        .half-horiz;
    }

#login-popup {
    width:500px;
    height:400px;
    background-color:#fff;
    color:@light;
    border-radius:5px;
}
    #login-popup h1 {
        font-weight:300;
        width:80%;
        margin-left:10%;
        padding-top:20px;
        padding-bottom:15px;
        font-size:35px;
        border-bottom:2px solid @green;
    }
    #login-username, #login-password {
        height:40px;
        margin:10px;
    }
    #login-password {
        margin-bottom:15px;
    }
    #login-btn {
        height:50px;
        width:200px;
        margin:0;
        padding:0;
        margin-top:15px;
        margin-left:(500-200)/2px;
        font-weight:300;
        border:1px solid @green;
    }
    #login-popup a {
        text-decoration:none;
        color:@green;
    }


@media all and (max-width:1200px) {    
    @info-box-width: 275px;
    @info-box-padding: 50px;
    #last-row .info-box {
        width:@info-box-width;
    }
        #last-row .info-box:nth-child(1) {
            margin-left:-((@info-box-width * 1.5) + @info-box-padding);
        }
        #last-row .info-box:nth-child(2) {
            margin-left:-(@info-box-width / 2);
        }
        #last-row .info-box:nth-child(3) {
             margin-left:(@info-box-width / 2) + @info-box-padding;
        }

        #last-row .info-box h1 {
            font-size:35px;
        }
        #last-row .info-box h2 {
            font-size:15px;
        }
        #last-row .info-box p {
            color:@light;
            font-size:15px;
        }
}

@media all and (max-width:1100px) {
    #hero-label {
        font-size:23px;
    }
}

@media all and (max-width:970px) {
    #hero-label {
        font-size:20px;
    }

    @info-box-width: 255px;
    @info-box-padding: 30px;
    #last-row .info-box {
        width:@info-box-width;
    }
        #last-row .info-box:nth-child(1) {
            margin-left:-((@info-box-width * 1.5) + @info-box-padding);
        }
        #last-row .info-box:nth-child(2) {
            margin-left:-(@info-box-width / 2);
        }
        #last-row .info-box:nth-child(3) {
             margin-left:(@info-box-width / 2) + @info-box-padding;
        }

        #last-row .info-box h1 {
            font-size:30px;
        }
        #last-row .info-box h2 {
            font-size:13px;
        }
        #last-row .info-box p {
            color:@light;
            font-size:13px;
        }
}
@media all and (max-width:850px) {
    body,html {
        overflow-x:hidden; //TODO: figure out what's actually causing the overflow, instead of just hiding it
    }

    #hero-label {
        width:80%;
        margin-left:10%;
    }

    #last-row .info-box:nth-child(n) {
        margin:0;
        .half-horiz;
        margin-top:50px;
    }

    #last-row #footer {
        margin-top:50px;
    }
}

@media all and (max-width:750px) {
    #head-row {
        text-align:center;
    }
        #head-row img {
            margin:0;
            height:auto;
            width:80%;
            .half-vert;
        }

    #main-row {
        height:auto;
        padding:0;
        background-color:@green;
        background-image:none;
    }
        #main-row #mobile-background {
            display:block;
            width:100%;
            height:auto;
            margin:0;
        }
        #hero-label {
            display:none;
            position:static;
            width:100%;
            margin:0;
            text-align:center;
            font-size:20px;
            border-radius:20px;
        }
        #hero-signup-btn {
            display:none;
        }
        #desktop-login-btn {
            display:none;
        }

    #last-row {
        margin-top:0;
        padding-top:0;
    }
        #last-row #mobile-actions {
            display:block;
        }
            #mobile-actions #mobile-hero-label {
                background-color:@green;
                color:#fff;
                width:100%;
                margin:0;
                font-size:20px;
                line-height:75px;
            }
            #mobile-actions .white-circle-btn {
                .half-horiz;
                margin-top:25px;
            }

    #wedge-content {
        left:0 !important;
        margin-left:0 !important;
        width:100% !important;
    }
    #login-popup {
        width:100%;
    }
        #login-username, #login-password {
            width:70%;
            left:15%;
        }
        #login-password {
            margin-bottom:15px;
        }
        #login-btn {
            height:50px;
            width:55%;
            margin-left:22.5%;
        }
}

@media all and (max-width:400px) {
    #main-row img {
        width:90%;
        margin-left:5%;
    }
}