#firstSem {
    position:absolute;
    float:left;
    left:10px;
}

#secondSem {
    position:absolute;
    float:right;
    right:10px;
}

.periodDiv {
    border-left:2px solid #54b7ff;
    margin-bottom:10px;
    text-align:left;
}

.optBtn {
    width:100px;
}